<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main-style.css' %}">

  </head>
  <body>
    <section class="">
      <div class="container">
        <div class="heading">
          <h2>Progressive Tax Calculator</h2>
          <p>This is a course project for Algorithms and Programming course at Department of informatics, Universitas Muhammadiyah Surakarta.</p>
          <a href="{% url 'about' %}">See the about page</a>
        </div>
        <div class="group">

        </div>
      </div>
    </section>
  </body>
</html>
